@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.6%;
    --foreground: 160 5.6% 10.6%;
    --surface: 0 0% 97.6%;
    --on-surface: 160 5.6% 10.6%;
    --outline: 0 0% 46.7%;
    --outline-variant: 0 0% 77.6%;

    --card: 0 0% 100%;
    --card-foreground: 160 5.6% 10.6%;
    --popover: 0 0% 100%;
    --popover-foreground: 160 5.6% 10.6%;
    --primary: 160 5.6% 10.6%;
    --primary-foreground: 0 0% 97.6%;
    --green-accent: 152 44% 34%;
    --green-accent-foreground: 0 0% 97.6%;
    --secondary: 0 0% 93%;
    --secondary-foreground: 160 5.6% 10.6%;
    --muted: 0 0% 93%;
    --muted-foreground: 0 0% 46.7%;
    --accent: 0 0% 93%;
    --accent-foreground: 160 5.6% 10.6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 77.6%;
    --input: 0 0% 77.6%;
    --ring: 160 5.6% 10.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-surface text-on-surface antialiased font-manrope;
  }
}

@layer utilities {
  .tracking-widest-xl {
    letter-spacing: 0.4em;
  }
  .tracking-tighter-xl {
    letter-spacing: -0.05em;
  }
}
